@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Prompt:wght@200;300;400&family=Source+Code+Pro:wght@200;300;400');


// ⇧
.main-en {
    
    font-family: "Prompt";
    background-color: #64edd6;
    margin-left: 10px;
    margin-right: 10px;

}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #6495ed;
}

.navbar {
    font-size: 35px;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: black;
}

.language {

    .en {
        font-family: 'Prompt', sans-serif;
        font-weight: 300;
    }

    .jp {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 300;
    }

    .es {
        font-family: 'Prompt', sans-serif;
        font-weight: 300;
    }
}